body {
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    gap: 1em;
}

.container {
    background-color: white;

    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    width: 100%;
    max-width: 60em;
    display: flex;
    flex-direction: column;
}

.assignment {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.title {
    margin: 0 0.6rem 0 0.6rem;
    display: flex;
    justify-content: space-between;
}
.title>h4, #title>h5 {
    margin: 0;
}

.tasks {
    border-radius: 15px;
    box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem 1.5rem;
    overflow-x: scroll;
}
.task-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns:  repeat(3, 1fr);
}
.task-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.task {
    display: flex;
    gap: 0.5rem;
}
.task>.label {
    min-width: 1.5rem;
    text-align: right;
    margin-right: .4rem;
}

.plus {
    background: white;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1em;
    font-size: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    user-select: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.plus:hover {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
}

.explanation {
    border-radius: 15px;
    box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 0 1.5rem;
    overflow-x: scroll;
}

[hidden] {
    display: none;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
    .task-grid {
        grid-template-columns:  repeat(1, 1fr);
        grid-gap: 3rem;
    }
    .assignment {
        padding: 1rem;
    }
    body {
        padding: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 650px) {
    .task-grid {
        grid-template-columns:  repeat(2, 1fr);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 850px) {
    .task-grid {
        grid-template-columns:  repeat(3, 1fr);
    }
}
